.container{
    background-color: white;
    min-width: 320px;
    overflow: hidden;
    border-radius: 6px;
}


td{
    vertical-align: middle;
}

td+td{
    border-left: 1px solid grey;

}


tr+tr{
    border-top: 1px solid grey;
}

.button{
    box-sizing: border-box;
    padding: 20px 40px;
    display: inline-block;
    height: 100%;
    font-size: 24px;
}

.equalButton{
    background-color: rgba(252, 149, 109, 1);
}

.controlButton{
    background-color: white;
}